#banner {
    background-color: green;
}
 
body {
    background-color: rgb(209, 162, 98);
}
 
.bodyText {
    color: FFA500;
}
li {
    padding: 10px;
    display: inline;
}
 
#navBar {
    text-align: center;
}

 
.bodyText {
    color: #5b120c;
    padding-left: 20px;
    padding-right: 20px;
}
 
#TEJESH {
    width: 100%;
    text-align: center;
}